@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap')
	;

.badge {
	
}

body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 300;
	display: list-item;
}
#btn-secondary {
  background-color: rgb(0, 0, 0);
  width: 2000;
  height: 0px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row-reverse;
  
}


