<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/about.css">
<body>
	<div class="center">
		<h1>About</h1>
		<form th:action="@{/dashboard/about-me/{empId}(empId=${employee.id})}"
			method="post">

			<div >
				<input type="hidden" th:field=${employee.id} />
			</div>

			<div class="txt_field">
				Username: <input type="text"  th:field="${employee.username}" />
			</div>
			<div class="txt_field">
				Password: <input required  type="password" th:field="${employee.password}">
			</div>
			<div class="txt_field">
				Role: <input readonly  type="text" th:field="${employee.title}" />
			</div>
			<div></div>
			<div>
				<button type="submit" class="btn">Update</button>
			</div>
		</form>
	</div>
</body>
</html>