<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/topping.css">

</head>
<body>
	<div class="center">
		<h1>Topping</h1>
		<form th:action="@{/dashboard/toppings}" method="post">
			<input type=hidden id="csrf" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
			<div class="txt_field">
				name: <input type="text" th:field="${topping.name}" />
			</div>
			<div class="txt_field">
				price: <input type="text" th:field="${topping.price}" />
			</div>
			<div>
				<button type="submit" class="btn">Update</button>
			</div>
		</form>
	</div>
</body>
</html>