<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<style>
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://kit.fontawesome.com/f09b2e2e32.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/order.css">

</head>
<body>


	<div class="row">
		<div class="columnSide">

			<div class="conntainer">
				<table class="_table">

					<form th:if="${order.orderId} != null" method="post"
						th:action="@{/customer/{custId}/order/{orderId}(orderId=${order.orderId},custId=${customer.custId})}">
						<tr>
							<td><select class="form_control" th:field="${pizza.size}"
								name="size" id="size">
									<option th:value="Lg">Lg</option>
									<option th:value="Sm">Sm</option>
							</select></td>
						</tr>

						<tr>
							<td><select id="qty" class="form_control"
								th:field="${pizza.qty}">
									<option th:each="i : ${#numbers.sequence(1, 500)}"
										th:value="${i}" th:text="${i}"></option>
							</select></td>

						</tr>

						<tr>
							<td>
								<div th:each="topping : ${toppings}">
									<form method="post"
										th:action="@{/post-pizza/customer/{custId}/order/{orderId}(custId=${customer.custId}, orderId=${order.orderId})}">
										<input type="hidden" th:value="${order.orderId}" id="orderId">
										<input type="hidden" id="csrf"
											th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<input th:text="${topping.name}" class="toppingName"
											type="checkbox" th:value="${topping.name}">
									</form>

								</div>
							</td>
						</tr>
						<span id="emptyTopping">error message</span>

						<tr>
							<td><select class="form_control"
								th:field="${pizza.HowCooked}" name="size" id="howCook">
									<option selected th:value="Regular">Regular</option>
									<option th:value="WellDone">WellDone</option>
									<option th:value="LightCooked">LightCooked</option>
							</select></td>
						</tr>
						<tr>
							<td><input placeholder="Special instructions " id="comment"
								class="form_control" th:field=${pizza.comment}></td>
						</tr>
						<tr>
							<td>
								<div class="action_container">
									<button id="pizzaAddBtn" class="success">
										Add
									</button>
								</div>
							</td>
						</tr>
						<input type="hidden" th:value="${order.orderId}" id="orderId">
				</table>
			</div>
			</form>

		</div>





		<div class="columnMiddle">
			<div class=container>
				<table>
					<tr>

						<th>Qty</th>
						<th>Size</th>
						<th>Toppings</th>
						<th>Cooked</th>
						<th>Comment</th>
						<th>price</th>
					</tr>

					<tr th:each="pizza : ${pizzas}">

						<td>x[[${pizza.qty}]]</td>
						<td>[[${pizza.size}]]</td>
						<td>[[${pizza.toppings}]]</td>

						<td>[[${pizza.HowCooked}]]</td>
						<td>[[${pizza.comment}]]</td>
						<td class="priceList">[[${pizza.price}]]</td>
						<td>
							<form method="post"
								th:action="@{/deleteItem/from/order/{pizzaId}/{orderId}/{custId}(pizzaId=${pizza.pizzaId},orderId=${order.orderId},custId =${customer.custId})}">
								<div class="action_container">
									<button class="danger">Remove X</button>
								</div>
								<input type=hidden id="csrf" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" /> <input type="hidden"
									th:value="${order.orderId}" id="orderId">
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>


		<div class="columnSide">
			<div class="container">
				<table class="_table">
					<tr>
						<td><input checked type="radio" class="orderMethod"
							name="orderMethod" value="Cash">Cash <input type="radio"
							class="orderMethod" name="orderMethod" value="Visa">Visa</td>

					</tr>


					<tr>
						<td><input checked type="radio" class="orderType" name="orderType"
							value="PickUp">PickUp <input type="radio"
							class="orderType" name="orderType" value="Delivery">Delivery
						</td>
					</tr>


					<tr>
						<td class="action_container">
						
							<button class="success" id="settleBtn" type="Submit">Checkout</button>
							
							<span id="finalPrice"></span> 
							
							<a  href='/customer/information/new'>
								<button class="danger">Cancel</button>
							</a>


						</td>
					</tr>
					<tr>
						<td><span id="orderType"></span><br> <span
							id="orderMethod"></span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/order.js"></script>
</body>
</html>