<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">
<head>
<style>
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/f09b2e2e32.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/order.css">

</head>
<body>

	<div class="conntainer">
		<table class="_table">
			<thead>
				<tr>
					<th>Size</th>
					<th>Qty</th>
					<th>Toppings</th>
					<th>HowCooked</th>
					<th>Comment</th>
				</tr>

			</thead>
			<tbody id="table_body">
				<tr>
					<td><select class="form_control" th:field="${pizza.size}"
						name="size" id="size">
							<option th:value="Lg">Lg</option>
							<option th:value="Sm">Sm</option>
					</select></td>
					<td><select id="qty" class="form_control"
						th:field="${pizza.qty}">
							<option th:each="i : ${#numbers.sequence(1, 500)}"
								th:value="${i}" th:text="${i}"></option>
					</select></td>
					<td>
						<div th:each="topping : ${toppings}">
							<input name="settings" id="checkList" type="checkbox"
								th:text="${topping.name}" th:value="${topping.id}">
						</div>
					</td>
					<td><select class="form_control" th:field="${pizza.HowCooked}"
						name="size" id="howCook">
							<option th:value="Regular">Regular</option>
							<option th:value="WellDone">WellDone</option>
							<option th:value="LightCooked">LightCooked</option>

					</select></td>

					<td><input id="pizzaComment" class="form_control"
						th:field=${pizza.comment}></td>
					<td>
						<div class="action_container">

							<input type=hidden id="csrf" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />

							<button id="pizzaBtn" class="success">
								addItem <i class="fa-solid fa-plus"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<br>
	<br>
	<span th:text="${order.orderId}" th:value="${order.orderId}"
		id="orderId"></span>



	<script type="text/javascript" src="/js/order.js"></script>
</body>
</html>