<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org" style="font-size: 16px;" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Registeration</title>
<link rel="stylesheet" href="/css/nicepage.css" media="screen">
<link rel="stylesheet" href="/css/registerSA.css" media="screen">
<script class="u-script" type="text/javascript" src="jquery.js"></script>
<script class="u-script" type="text/javascript" src="nicepage.js"></script>
</head>


<body class="u-body u-xl-mode" data-lang="en">

	<div class="center">
		<h1>Sign Up</h1>
		<form th:action="@{/super-admin-registeration-for-first-time}"
			method="POST">
			<div class="txt_field">
				<input type="text" id="username" name="username"
					placeholder="Username*" th:field="${employee.username}" required>
			</div>

			<div class="txt_field">
				<input type="password" id="password" name="password"
					placeholder="Password*" th:field="${employee.password}" required>
			</div>


			<div>
				<button type="submit" class="btn">Log in</button>
			</div>
			
		</form>
	</div>
</body>
</html>